body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
}